<strong>Olá, {{deliveryman}}</strong>
<p>A entrega com ID {{id}} foi cancelada!</p>

<p>
  <span>
    <strong>Produto: </strong>{{product}} <br>
    <strong>Data de Cancelamento: </strong>{{canceled_at}}
  </span>
</p>

